@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{margin: 0;padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;margin: 0;padding: 0;scroll-behavior:smooth}
body,section,div,nav,p,h1,h2,h3,h4,h5,h6,button,a,select,input{font-family:Roboto,sans-serif;}
select, a, button, input{-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 0;text-transform: uppercase; font-family:Roboto,sans-serif;}
a{-webkit-appearance: none;-moz-appearance: none;appearance: none; background:transparent;border:none;outline:0;-webkit-box-shadow:none;box-shadow:none;-webkit-box-sizing: border-box;box-sizing: border-box;cursor: pointer;text-decoration: none;text-transform: none;display: block;}
button{-webkit-appearance: none;-moz-appearance: none;appearance: none; border: none; background: transparent;outline: 0;-webkit-box-shadow: none;box-shadow: none;}
img{display: block;}
.flex{display: -webkit-box;display: -ms-flexbox;display: flex;}
.body{width: 100vw; background-color: #1E1E1E;color:#111111;overflow:overlay}
ul{list-style: none;margin: 0;padding: 0;}
.h1{width: 0;height: 0;font-size: 1px;color: transparent;}
 
.main{width: 85%;margin:0 auto;position: relative;background-color: #fff;padding-bottom: 4rem;margin-top: 75px; }
.resaltado{color: #FF0501;letter-spacing: 0}
button, select{cursor: pointer;}

.seccion-imagen{width: 100%;height: 41.5vw;  }
.seccion-imagen picture, .seccion-imagen picture source, .seccion-imagen picture img{width: 100%;height: 100%;}
.seccion-link{width: 100%;font-size: 12px;font-weight: 500;color: #111111;padding: 10px 0 0 6vw;}
.seccion-link__a{display: inline-block;color: #FF0501;}

.seccion-ordenar{width: 100%;text-align: end;padding: 2rem 10vw 3rem 10vw;}
.seccion-ordenar__boton{color: #fff;background-color: #FF0501;width: -webkit-max-content;width: -moz-max-content;width: max-content;margin-left: auto; height: 35px; border-radius: 25px;font-size: 13px;padding: 8px 20px;}
.seccion-ordenar__boton>*{display: inline-block;}
.seccion-ordenar__boton img{width: 16px;}
.orden_lista{-webkit-appearance: none;-moz-appearance: none;appearance: none;background-image: url(../img/compartidos/down-selector.png);background-size: 13px 8px; background-repeat: no-repeat;background-position: right 0 center;font-family:Roboto,sans-serif;border: none; color: #fff;background-color: #FF0501;font-size: 13px;padding: 2px 20px 3px 10px; }
.orden_lista:focus{color: #fff; outline: none;}
.orden_lista option{font-family:Roboto,sans-serif;background-color: grey;}

.seccion-articulos{margin: 0vw 10vw 0vw 10vw;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap;text-align: center;}
.seccion-articulos__articulo{width: 48%;height: -webkit-max-content;height: -moz-max-content;height: max-content;background: #FFFFFF;-webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);border-radius: 2.3vw;margin-bottom: 2rem; text-align: center;font-weight: 700;font-size: 24px;color: #111111;padding: 1rem;}
.seccion-articulos__articulo-img{height: 11vw;min-height: 100px;margin: 0 auto;}
.seccion-articulos__articulo-descripcion{font-size: 20px;display: block;min-height: 50px;}
.seccion-articulos__articulo:hover{-webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.9);box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.9);}

/* articulo-ficha */
.seccion-articulo{margin: 10vw 0; padding:2rem;border-top: #FF0501 solid 2px;border-bottom: #FF0501 solid 2px;text-align: center;}
.seccion-articulo__contenido{margin: auto;width: -webkit-max-content;width: -moz-max-content;width: max-content;}
.seccion-articulo__img{width: 30vw;min-width: 200px;margin: 0 ;}
.seccion-articulo__info{max-width: 50vw; font-weight: 700;font-size: 2vw;text-align: left;margin-top: 1rem;margin-left: 2vw;}
.seccion-articulo__info-precio{margin: 2.5rem 0;}
.seccion-articulo__info-boton-wa{color: #fff;background-color: #25D366;border-radius: 30px;font-weight:600;font-size:22px;width:200px;height:45px; text-align: center;padding-top:8px;display: inline-block;}
.seccion-articulo__info-boton-wa img{display: inline!important; vertical-align: text-top;width: 25px;margin-right: 5px;}

/* ventana modal -ficha articulo */
.modal{width: 100%;height: 100%;position: fixed;top: 0;left: 0; background-color: rgba(0, 0, 0, 0.5);z-index: 2000; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.seccion-articulo__ficha{width:60vw;background-color: #fff;position: relative;text-align: right;border-radius: 10px;padding: 1rem 1.5rem 1.5rem 1.5rem;}
.btn-cerrar__img{width: 20px;}
.seccion-articulo__ficha .btn-cerrar {margin-left: auto;width: 1rem;}


@media (max-width: 1179.98px){
    .main{margin-top: 53px;}
}

@media (max-width: 991px){
    .main{width: 95%;}
    .seccion-articulos__articulo{font-size: 20px;}
    .seccion-articulos__articulo-descripcion{font-size: 18px;}

    .seccion-articulo__info-boton-wa{font-size: 18px;width: 170px;height: 35px;}
    .seccion-articulo__info-boton-wa img{width: 20px;}
}
@media (max-width: 767.98px){
    .main{padding-bottom: 1rem;}
    .seccion-ordenar__boton{ font-size: 12px;}
    .seccion-articulos__articulo{font-size: 18px;}
    .seccion-articulos__articulo-descripcion{font-size: 16px;}

    .seccion-articulo__info{font-size: 20px;}

    .seccion-articulo__ficha{width:80vw;}
    .ficha-contenido{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;margin: auto;width: -webkit-max-content;width: -moz-max-content;width: max-content;}
}
@media (max-width: 519.98px){
    .seccion-ordenar{padding: 1rem 10vw 2rem 10vw;}
    .seccion-articulos__articulo{font-size: 16px;padding-bottom: 1rem;width: 100%;}
    .seccion-articulos__articulo-descripcion{font-size: 14px;}

    .seccion-articulo__contenido{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .seccion-articulo__info{width: 100%;font-size: 18px;}

    .seccion-articulo__ficha{width:90vw;}
}

@media (max-width: 379.98px){
.seccion-ordenar {
    padding: 2rem 0;
}}
