@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{margin: 0;padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;margin: 0;padding: 0;scroll-behavior:smooth}
body,section,div,nav,p,h1,h2,h3,h4,h5,h6,button,a,select,input{font-family:Roboto,sans-serif;}
select, a, button, input{-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 0;text-transform: uppercase; font-family:Roboto,sans-serif;}
a{-webkit-appearance: none;-moz-appearance: none;appearance: none; background:transparent;border:none;outline:0;-webkit-box-shadow:none;box-shadow:none;-webkit-box-sizing: border-box;box-sizing: border-box;cursor: pointer;text-decoration: none;text-transform: none;display: block;}
button{-webkit-appearance: none;-moz-appearance: none;appearance: none; border: none; background: transparent;outline: 0;-webkit-box-shadow: none;box-shadow: none;}
img{display: block;}
.flex{display: -webkit-box;display: -ms-flexbox;display: flex;}
.body{width: 100vw; background-color: #1E1E1E;color:#111111;overflow:overlay}
ul{list-style: none;margin: 0;padding: 0;}
.h1{width: 0;height: 0;font-size: 1px;color: transparent;}
 
.main{width: 85%;margin:0 auto;position: relative;background-color: #fff;padding-bottom: 4rem;margin-top: 75px; }
.resaltado{color: #FF0501;letter-spacing: 0}

.seccion-imagen{width: 100%;height: 41.5vw;}
.seccion-imagen picture, .seccion-imagen picture source, .seccion-imagen picture img{width: 100%;height: 100%;}
.seccion-link{width: 100%;font-size: 12px;font-weight: 500;color: #111111;padding: 10px 0 0 6vw;}
.seccion-link__a{display: inline-block;color: #FF0501;}

/* moto-ficha */
.seccion-moto{margin: 6vw 0; padding:2rem;border-top: #FF0501 solid 2px;border-bottom: #FF0501 solid 2px;text-align: center;}
.seccion-moto__contenido{margin: auto;width: -webkit-max-content;width: -moz-max-content;width: max-content;}
.seccion-moto__imagenes{width: 35vw;min-width: 250px;margin: auto ;}
.seccion-moto__img{width: 100%;}
.seccion-moto__info{width: 50vw;max-width: 500px; font-weight: 600;font-size: 18px;text-align: left;margin-top: 1rem;margin-left: 2vw;}
.seccion-moto__info-nombre{font-weight: 700;font-size: 32px;}
.seccion-moto__info-precio{margin: 0.8rem 0;}

.botonera__btn-wa{color: #fff;background-color: #25D366;border-radius: 18px;font-weight:600;width:-webkit-max-content;width:-moz-max-content;width:max-content;height:40px; text-align: center;display: inline-block;font-size:16px;padding:10px 20px 0 20px;margin: 0.8rem 0.8rem 0 0;}
.botonera__btn-wa img, .botonera__boton img{display: inline!important; vertical-align: text-top;height: 20px;margin-right: 5px;}
.botonera__boton{color: #fff;background-color: #FF0501;border-radius: 18px;font-weight:600;width:-webkit-max-content;width:-moz-max-content;width:max-content;height:40px; text-align: center;display: inline-block;font-size:16px;padding: 0 20px;margin: 0.8rem 0.8rem 0 0;}
a.botonera__boton{padding-top: 10px;}

.ficha-tecnica{padding: 0 10vw;margin-bottom: 6vw;}
.ficha-tecnica__h2{font-weight: 600;font-size: 32px;padding-bottom: 2rem;}
.ficha-tecnica__contenido-ul{list-style: disc;margin-left: 1rem;width: calc(50% - 2rem);display: inline-block;vertical-align: top;font-size: 18px;padding-right: 1rem;}

/* slider */
.flecha-slider-izq{position: absolute; top: 0;left:0%;z-index: 30;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;height: 100%;}
.flecha-slider-der{position: absolute; top: 0;right:0%;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flecha{height: 1.5vw;cursor: pointer;}
.seccion__slider{width: 102%;height: 9.5vw; margin: auto;display: -webkit-box;display: -ms-flexbox;display: flex;position: relative;}
.contenedor{position: relative; overflow: hidden;width:90%;margin: auto; height: 9.5vw;}
.galeria{display: -webkit-box;display: -ms-flexbox;display: flex;width: -webkit-max-content;width: -moz-max-content;width: max-content;
position: absolute;left: 0;top: 0;}
.slider-contenido__img{width: 100%; height: 9.5vw;}
.clase_activo{border: #FF0501 2px solid;}
button{cursor: pointer;}

.seccion-cuotas{width: 100%;height: 100%;position: fixed;top: 0;left: 0; background-color: rgba(0, 0, 0, 0.5);z-index: 2000;}
.seccion-cuotas__contenido{width: 350px;height: 280px;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-175px,-140px);-ms-transform: translate(-175px,-140px);transform: translate(-175px,-140px);z-index: 2001;background-color: #fff;border-radius: 10px;-webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);text-align: center;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding: 1rem 1rem 2rem 1rem;font-size: 24px;}
.tarjetas{height: 30px;width: 165px;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.tarjetas img{height: 100%;}
.btn-cerrar{margin-left: auto;}
.btn-cerrar__img{width: 20px;}
.seccion-cuotas__p{font-weight: 700;font-size: 20px;margin-bottom: 20px;}
.seccion-cuotas__importes{margin-bottom: 10px;}
.seccion-cuotas__hr{height: 2.4px; background-color: #FF0501;width: 100%;margin: 0;}
.seccion-cuotas__aclaracion{font-size: 10px;margin-bottom: 10px;margin-top: 20px;}

.modal{width: 100%;height: 100%;position: fixed;top: 0;left: 0; background-color: rgba(0, 0, 0, 0.5);z-index: 2000; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.seccion-video__contenedor{width:calc(60vw + 0.4rem) ;height: calc(34vw + 2.2rem);  background-color: #111111;position: relative;text-align: right;}
.seccion-video__contenedor .btn-cerrar {margin: 10px 10px 0 auto;}
.seccion-video__contenedor iframe{border: none;}
.seccion-video__video{width: 60vw;height: 34vw;position: absolute;top: 2rem;left: 0.2rem; z-index: 2001;background-color: grey;}


@media (min-width: 1492px){
    .ficha-tecnica__contenido-ul {font-size: 1vw;}
}
@media (max-width: 1179.98px){
    .main{margin-top: 53px;}
}
@media (max-width: 1079.98px){
    .seccion-moto__contenido{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .seccion-moto__info{width: 100%; margin-top: 3rem;}
}
@media (max-width: 991px){
    .main{width: 95%;}
    .ficha-tecnica__contenido-ul{width: calc(100% - 2rem);}
    .flecha-slider-izq{left: -10px;}
    .flecha-slider-der{right: -10px;}
}
@media (max-width: 767.98px){
    .main{padding-bottom: 1rem;}
    .seccion-moto__contenido{width: 100%;}
    .seccion-moto__info-nombre{font-size: 28px;}
    .seccion-moto__info{font-size: 17px;}
    .botonera__btn-wa{font-size: 14px;width: -webkit-max-content;width: -moz-max-content;width: max-content;max-width: 100%;height: -webkit-max-content;height: -moz-max-content;height: max-content;font-size: 14px;padding: 7px 20px;}
    .botonera__boton{width: -webkit-max-content;width: -moz-max-content;width: max-content;max-width: 100%;height: -webkit-max-content;height: -moz-max-content;height: max-content;font-size: 14px;padding: 8px 20px;border-radius: 16px;}
    .botonera__btn-wa img, .botonera__boton img{height: 16px;}
    .flecha {height: 18px;}
    .seccion-video__contenedor{width:calc(95vw + 0.4rem) ;height: calc(54vw + 2.2rem)}
    .seccion-video__video{width: 95vw;height: 54vw;}
    .seccion__slider, .contenedor, .slider-contenido__img{height: 11vw;}
}

@media (max-width: 519.98px){
    .seccion-moto{padding: 1rem;}
    .seccion-moto__contenido{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .seccion-moto__info{width: 100%;font-size: 14px;}
    .seccion-moto__info-nombre, .ficha-tecnica__h2{font-size: 24px;}
    .botonera__boton{font-size: 12px; display: -webkit-box; display: -ms-flexbox; display: flex;cursor: pointer;}
    .ficha-tecnica__contenido-ul{font-size: 14px;}
    .seccion__slider, .contenedor, .slider-contenido__img{height: 20vw;}
    .slider-contenido__img{height: 16vw;}
}

@media (max-width: 399.98px){
    .seccion-cuotas__contenido{width: 280px;-webkit-transform: translate(-140px,-140px);-ms-transform: translate(-140px,-140px);transform: translate(-140px,-140px)}
}
