@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{margin: 0;padding: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;margin: 0;padding: 0;scroll-behavior:smooth}
body,section,div,nav,p,h1,h2,h3,h4,h5,h6,button,a,select,input{font-family:Roboto,sans-serif;}
select, a, button, input{-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 0;text-transform: uppercase; font-family:Roboto,sans-serif;}
a{-webkit-appearance: none;-moz-appearance: none;appearance: none; background:transparent;border:none;outline:0;-webkit-box-shadow:none;box-shadow:none;-webkit-box-sizing: border-box;box-sizing: border-box;cursor: pointer;text-decoration: none;text-transform: none;display: block;}
button{-webkit-appearance: none;-moz-appearance: none;appearance: none; border: none; background: transparent;outline: 0;-webkit-box-shadow: none;box-shadow: none;}
img{display: block;}
.flex{display: -webkit-box;display: -ms-flexbox;display: flex;}
.body{width: 100vw; background-color: #1E1E1E;color:#111111;overflow:overlay}
ul{list-style: none;margin: 0;padding: 0;}
.h1{width: 0;height: 0;font-size: 1px;color: transparent;}
 
.main{width: 85%;margin:0 auto;position: relative;background-color: #fff;padding-bottom: 4rem;margin-top: 75px; }
.resaltado{color: #FF0501;letter-spacing: 0}

.seccion-imagen{width: 100%;height: 41.5vw; /* background: url('../img/accesorios/accesorios.webp') no-repeat; background-size: cover;background-position: center center;*/ }
.seccion-imagen picture, .seccion-imagen picture source, .seccion-imagen picture img{width: 100%;height: 100%;}
.seccion-link{width: 100%;font-size: 12px;font-weight: 500;color: #111111;padding: 10px 0 0 6vw;}
.seccion-link__a{display: inline-block;color: #FF0501;}

/* moto-ficha */
.seccion-moto{margin: 6vw 0; padding:2rem;border-top: #FF0501 solid 2px;border-bottom: #FF0501 solid 2px;text-align: center;}
.seccion-moto__contenido{margin: auto;width: -webkit-max-content;width: -moz-max-content;width: max-content;}
/* .seccion-moto__img{width: 35vw;min-width: 250px;margin: auto ;} */
.seccion-moto__imagenes{width: 35vw;min-width: 250px;margin: auto ;}
.seccion-moto__img{width: 100%;}
.seccion-moto__info{width: 50vw;max-width: 500px; font-weight: 600;font-size: 18px;text-align: left;margin-top: 1rem;margin-left: 2vw;}
.seccion-moto__info-nombre{font-weight: 700;font-size: 32px;}
.seccion-moto__info-precio{margin: 0.8rem 0;}

.botonera__btn-wa{color: #fff;background-color: #25D366;border-radius: 18px;font-weight:600;width:max-content;height:40px; text-align: center;display: inline-block;font-size:16px;padding:10px 20px 0 20px;margin: 0.8rem 0.8rem 0 0;}
.botonera__btn-wa img, .botonera__boton img{display: inline!important; vertical-align: text-top;height: 20px;margin-right: 5px;}
.botonera__boton{color: #fff;background-color: #FF0501;border-radius: 18px;font-weight:600;width:max-content;height:40px; text-align: center;display: inline-block;font-size:16px;padding: 0 20px;margin: 0.8rem 0.8rem 0 0;}


.ficha-tecnica{padding: 0 10vw;margin-bottom: 6vw;}
.ficha-tecnica__h2{font-weight: 600;font-size: 32px;padding-bottom: 2rem;}
/* .ficha-tecnica__contenido{width: max-content;} */
.ficha-tecnica__contenido-ul{list-style: disc;margin-left: 1rem;width: calc(50% - 2rem);display: inline-block;vertical-align: top;font-size: 18px;padding-right: 1rem;}

/* slider */
.flecha-slider-izq{position: absolute; top: 0;left:0%;z-index: 30;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;height: 100%;/*padding-right: 1vw;*/}
.flecha-slider-der{position: absolute; top: 0;right:0%;height: 100%;/*margin-left: 1vw;*/display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flecha{height: 1.5vw;cursor: pointer;}
/* .seccion-consejos__slider */
.seccion__slider{width: 102%; margin: auto;display: -webkit-box;display: -ms-flexbox;display: flex;position: relative;}
.contenedor{position: relative; padding: 1rem 0 1rem 0;overflow: hidden;width:90%;margin: auto;}
.galeria{display: -webkit-box;display: -ms-flexbox;display: flex;width: -webkit-max-content;width: -moz-max-content;width: max-content;
position: absolute;left: 0;top: 0;}
/* .slider-contenido{ */
    /* width: 30%; */
    /* -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);border-radius: 2.3vw;text-align: left;margin: 0 0.5%; */
/* } */
.slider-contenido img{width: 100%;}
.blog-contenido{padding: 1rem 2rem 2rem 2rem;}
.clase_activo{border: #FF0501 2px solid;}



@media (min-width: 1492px){
    .ficha-tecnica__contenido-ul {font-size: 1vw;}
}
@media (max-width: 1179.98px){
    .main{margin-top: 53px;}
}
@media (max-width: 1079.98px){
    .seccion-moto__contenido{flex-direction: column;}
    .seccion-moto__info{width: 100%; margin-top: 3rem;}
}
@media (max-width: 991px){
    .main{width: 95%;}
    .ficha-tecnica__contenido-ul{width: calc(100% - 2rem);}
    /* .seccion-motos__moto{font-size: 20px;} */
    /* .seccion-motos__moto-descripcion{font-size: 18px;} */

    /* .botonera__btn-wa{font-size: 18px;width: 170px;height: 35px;} */
    /* .botonera__btn-wa img{width: 20px;} */
}
@media (max-width: 767.98px){
    .main{padding-bottom: 1rem;}
    /* .seccion-ordenar__boton{width: 145px;height: 30px; font-size: 12px;} */
    .seccion-moto__contenido{width: 100%;}
    /* .seccion-motos__moto{font-size: 17px;} */
    /* .seccion-motos__moto-descripcion{font-size: 16px;} */

    .seccion-moto__info-nombre{font-size: 28px;}
    .seccion-moto__info{font-size: 17px;}
    .botonera__btn-wa{font-size: 14px;width: max-content;max-width: 100%;height: max-content;font-size: 14px;padding: 7px 20px;}
    .botonera__boton{width: max-content;max-width: 100%;height: max-content;font-size: 14px;padding: 8px 20px;border-radius: 16px;}
    .botonera__btn-wa img, .botonera__boton img{height: 16px;}
    .flecha {height: 18px;}
}

@media (max-width: 519.98px){
    .seccion-moto{padding: 1rem;}
    /* .seccion-ordenar{padding: 1rem 10vw 2rem 10vw;} */
    /* .seccion-motos__moto{font-size: 16px;padding-bottom: 1rem;width: 100%;} */
    /* .seccion-motos__moto-descripcion{font-size: 14px;} */

    .seccion-moto__contenido{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .seccion-moto__info{width: 100%;font-size: 14px;}
    .seccion-moto__info-nombre, .ficha-tecnica__h2{font-size: 24px;}
    .botonera__boton{font-size: 12px; display: flex;}
    .ficha-tecnica__contenido-ul{font-size: 14px;}
}
